
Week2/bin/Debug/Week2.exe
Week2/bin/Debug/Week2.exe
Week2/bin/Debug/Week2.pdb
Week2/obj/x86/Debug/Week2.csproj.FileListAbsolute.txt
Week2/obj/x86/Debug/Week2.csprojResolveAssemblyReference.cache
Week2/obj/x86/Debug/Week2.exe
Week2/obj/x86/Debug/Week2.pdb
*.txt
Week2/obj/x86/Debug/Week2.csproj.FileListAbsolute.txt
Week2/obj/x86/Debug/Week2.pdb
